@model IEnumerable<DVD_Shop.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">GENRE-INDEX</h1>

<p class="text-white">
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.gName)*@Genre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               @* <td>
                    @Html.DisplayFor(modelItem => item.gName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gDespriction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrailerPath)
                </td>*@
            @*    <td>
                    <a asp-action="Edit" asp-route-id="@item.gameId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.gameId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.gameId">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
